# Mupen64Plus Controller Config - 4 Players
# device numbers will need updating after `adb shell dumpsys input`

[Input-SDL-Control1]
mode = 0
plugged = True
plugin = 2
device = 0
mouse = False
DPad R = "hat(0 Right)"
DPad L = "hat(0 Left)"
DPad D = "hat(0 Down)"
DPad U = "hat(0 Up)"
Start = "button(10)"
Z Trig = "button(8)"
B Button = "button(1)"
A Button = "button(0)"
C Button R = "axis(2+)"
C Button L = "axis(2-)"
C Button D = "axis(3+)"
C Button U = "axis(3-)"
R Trig = "button(6)"
L Trig = "button(5)"
X Axis = "axis(0-,0+)"
Y Axis = "axis(1-,1+)"

[Input-SDL-Control2]
mode = 0
plugged = True
plugin = 2
device = 1
mouse = False
DPad R = "hat(0 Right)"
DPad L = "hat(0 Left)"
DPad D = "hat(0 Down)"
DPad U = "hat(0 Up)"
Start = "button(10)"
Z Trig = "button(8)"
B Button = "button(1)"
A Button = "button(0)"
C Button R = "axis(2+)"
C Button L = "axis(2-)"
C Button D = "axis(3+)"
C Button U = "axis(3-)"
R Trig = "button(6)"
L Trig = "button(5)"
X Axis = "axis(0-,0+)"
Y Axis = "axis(1-,1+)"

[Input-SDL-Control3]
mode = 0
plugged = True
plugin = 2
device = 2
mouse = False
DPad R = "hat(0 Right)"
DPad L = "hat(0 Left)"
DPad D = "hat(0 Down)"
DPad U = "hat(0 Up)"
Start = "button(10)"
Z Trig = "button(8)"
B Button = "button(1)"
A Button = "button(0)"
C Button R = "axis(2+)"
C Button L = "axis(2-)"
C Button D = "axis(3+)"
C Button U = "axis(3-)"
R Trig = "button(6)"
L Trig = "button(5)"
X Axis = "axis(0-,0+)"
Y Axis = "axis(1-,1+)"

[Input-SDL-Control4]
mode = 0
plugged = False
plugin = 2
device = 3
mouse = False
DPad R = "hat(0 Right)"
DPad L = "hat(0 Left)"
DPad D = "hat(0 Down)"
DPad U = "hat(0 Up)"
Start = "button(10)"
Z Trig = "button(8)"
B Button = "button(1)"
A Button = "button(0)"
C Button R = "axis(2+)"
C Button L = "axis(2-)"
C Button D = "axis(3+)"
C Button U = "axis(3-)"
R Trig = "button(6)"
L Trig = "button(5)"
X Axis = "axis(0-,0+)"
Y Axis = "axis(1-,1+)"
